@media screen and (max-width: 970px) {
    .btn-group {
        width: 100%;
        display: block;
    }
    .container-slider img {
        width: 70%;
        height: 350px;
    }
}

@media screen and (max-width: 767px) {
    .btn-group {
        width: 100%;
        display: block;
    }
    .container {
        display: block;
        flex-wrap: wrap;
    }
    .container-slider img {
        width: 70%;
        height: 300px;
    }
}

@media screen and (max-width: 600px) {
    .btn-group {
        width: 100%;
        display: block;
    }
    .container-slider img {
        width: 70%;
        height: 250px;
    }
}

@media screen and (max-width: 400px) {
    .btn-group {
        width: 100%;
        display: block;
    }
    .container-slider img {
        width: 70%;
        height: 200px;
    }
}